
@{
    ViewData["Title"] = "Login";
}
@model userdb.Models.UserViewModel

<div class="wells wells-sm">
    
    <form asp-controller="User" asp-action="VerifyLogin" method="post">
        <div class="form-horizontal">
        <h3>Login</h3>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>

    </form>
    <p>Don't have an account? <a asp-controller="User" asp-action="Index">Register</a></p>
</div>
