@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    We are going to build a cool application using a ASP.Net Core MVC framwork! This application was built with Ninjas at Dojo.
                    <a class="btn btn-default" asp-controller="User" asp-action="Login" >
                        Start...
                    </a>
                </p>
            </div>
        </div>
        
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h4>Manage Users</h4>
        <p>
            Using this application you will learn how to add, remove, and edit users for the application.
        </p>
    </div>
    <div class="col-md-4">
        <h4>Leave messages</h4>
        <p>Users will be able to leave a message to another user using this appliaction.</p>
    </div>
    <div class="col-md-4">
        <h4>Edit User Information</h4>
        <p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
    </div>
</div>
